@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  .dark .Toastify__toast {
    background-color: #474747 !important;
    color: #fff !important;
  }
}

:root {
  --background: #fff;
  --foreground: #171717;

  --toastify-color-light: #fff;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

body {
  @apply bg-background text-foreground antialiased;
}

@theme {
  @keyframes from-hide-to-show {
    0% {
      opacity: 0;
      transform: scale(0.85);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes from-bottom-appear {
    0% {
      opacity: 0;
      transform: translateY(25px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes recently-added-quadrant {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
      z-index: 11;
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes diagonal-slide-in-top-left {
    0% {
      opacity: 0;
      transform: translateX(-100%) translateY(-100%);
    }

    65% {
      opacity: 1;
      transform: rotate(15deg) translateY(0) scale(0.7);
    }
    100% {
      opacity: 0.5;
      transform: translateY(0) rotate(0) scale(1);
    }
  }

  @keyframes diagonal-slide-in-top-right {
    0% {
      opacity: 0;
      transform: translateX(100%) translateY(-100%);
    }

    65% {
      opacity: 1;
      transform: rotate(-15deg) translateY(0) scale(0.7);
    }
    100% {
      opacity: 0.5;
      transform: translateY(0) rotate(0) scale(1);
    }
  }

  @keyframes diagonal-slide-in-bottom-left {
    0% {
      opacity: 0;
      transform: translateX(-100%) translateY(100%);
    }

    65% {
      opacity: 1;
      transform: rotate(-15deg) translateY(0) scale(0.7);
    }
    100% {
      opacity: 0.5;
      transform: translateY(0) rotate(0) scale(1);
    }
  }

  @keyframes diagonal-slide-in-bottom-right {
    0% {
      opacity: 0;
      transform: translateX(100%) translateY(100%);
    }

    65% {
      opacity: 1;
      transform: rotate(15deg) translateY(0) scale(0.7);
    }
    100% {
      opacity: 0.5;
      transform: translateY(0) rotate(0) scale(1);
    }
  }

  /*Gradient flow animation*/
  @keyframes gradient-flow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  --animate-from-bottom-appear: from-bottom-appear 0.3s forwards;

  --animate-from-hide-to-show: from-hide-to-show 0.35s forwards;

  --animate-recently-added-quadrant: recently-added-quadrant 0.5s forwards;

  --animate-diagonal-slide-in-top-left: diagonal-slide-in-top-left 1s forwards;
  --animate-diagonal-slide-in-top-right: diagonal-slide-in-top-right 1s forwards;
  --animate-diagonal-slide-in-bottom-left: diagonal-slide-in-bottom-left 1s
    forwards;
  --animate-diagonal-slide-in-bottom-right: diagonal-slide-in-bottom-right 1s
    forwards;
}

@layer components {
  .gradient-flow-button {
    background: linear-gradient(-45deg, #ffa894, #ffb3c6, #a8c0ff, #8fffd4);
    background-size: 400% 400%;
    animation: gradient-flow 5s ease-in-out infinite;
    box-shadow:
      0 0 30px rgba(255, 168, 148, 0.4),
      0 0 60px rgba(255, 179, 198, 0.2),
      0 0 90px rgba(168, 192, 255, 0.1);
  }

  .dark .gradient-flow-button {
    background: linear-gradient(-45deg, #ee7752, #ea6f86, #5b7fce, #23d5ab);
    background-size: 400% 400%;
    box-shadow:
      0 0 30px rgba(238, 119, 82, 0.4),
      0 0 60px rgba(234, 111, 134, 0.2),
      0 0 90px rgba(91, 127, 206, 0.1);
  }
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@custom-variant limitedHeight639 (@media (max-height: 639px));

@custom-variant sm576 (@media (min-width: 576px));
